* {
  margin: 0;
  padding: 0;
  font-family: "onest", serif;
  font-weight: 500;
  font-style: normal;
  font-kerning: none;
  text-decoration: none;
  color: white;
}

/*imagen de fondo*/
body {
  background-color: #09090b;
}